**/node_modules
**/.DS_Store
cookies.txt
config.js
coverage
dist
**/.vite
/.idea/jwt-pizza.iml
/.idea/modules.xml
/.idea/vcs.xml

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.nyc_output/
.idea/dataSources.xml
.idea/sqldialects.xml
